.logotipo{
    width: 50px;
    height: auto;
}

.lupa{
    width: 20px;
    height: auto;
}
.contentsection{
   width: 100%;
   height: auto;
   color: black;
}
#contato{
    background-color: #D6D6D6;
    padding: 20px;
    border-radius: 10px;
    
}

body {
    background-image: url("../img/foto2.jpg");
}

.containerrodapé{
    background-color: rgba(255, 255, 255, 0.717);
    /* color: rgb(228, 229, 229); */
   text-align: center;
    
}

.container{
    width: 100% ;
    height: 300px;
}


.Favimg{
    width: 35px;
    height: 35px;
    
  
}

.Favimg1{
    width: 100%;
    height: 100%;
  
}
